<!-- src/app/landing-page/landing-page.component.html -->
<div class="landing-page">
  <div class="welcome">
    <div class="greeting">
      <div class="message">Hi there! I'm</div>
      <div class="name">Blaise Schaeffer</div>
    </div>
  </div>
  <img
    class="landing-image"
    src="../../assets/images/biker_blaise.JPG"
    alt="Blaise riding his bike"
  />
  <div class="footer">
    <a
      class="social-icon"
      title="Resumé"
      href="../../assets/documents/Blaise-Schaefer-Resume.pdf"
      download
    >
      <fa-icon size="2x" [icon]="faFilePdf"></fa-icon>
    </a>
    <a
      class="social-icon"
      title="LinkedIn"
      href="https://www.linkedin.com/in/blaise-schaeffer"
      target="_blank"
    >
      <fa-icon size="2x" [icon]="faLinkedin"></fa-icon>
    </a>
    <a
      class="social-icon"
      title="GitHub"
      href="https://github.com/blaise2s"
      target="_blank"
    >
      <fa-icon size="2x" [icon]="faGithub"></fa-icon>
    </a>
    <a
      class="social-icon"
      title="Strava"
      href="https://www.strava.com/athletes/12953409"
      target="_blank"
    >
      <fa-icon size="2x" [icon]="faStrava"></fa-icon>
    </a>
  </div>
</div>
